


.header img{
    height: 80px;
}
.header{
    text-align: center;
}

.header nav{
    background-color: black;
    font-size: 20px;
    line-height: 40px;
}

.header nav a{
    padding:5px;
    text-decoration: none;
    margin-right: 10px;
    color: white;
}
.header nav a:hover{
    background-color: whitesmoke;
}